$green: #75cc5b;
$white: #fff;
$grey: #f5f5f7;
$black: #000000;
$blue: #029bc7;
$yellow: #feff00;
$green: #6dc563;
$light-blue: #f3f5ff;
$yellow-transparent: rgba(255, 255, 0, 0.35);
$schoolpay-purple: #6b73ff;
$schoolpay-blue: #1b4ac3;
$light-grey: #f7f8ff;
$blablacar-text: #054752;
$blablacar-blue: #2dbeff;
$blablacar-grey: #f5f5f7;
