.under-constrution[data-v-c4395e53]{display:grid;grid-template-rows:max-content max-content;justify-items:center;width:250px}.comming-soon[data-v-c4395e53]{display:flex;justify-content:center;width:200px}
