@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Lato:wght@300;400;700;900&display=swap');
@font-face {
  font-family: 'PPMori';
  src: url(../assets/fonts/PPMori-SemiBold.ttf) format('truetype');
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: crisp-edges;
}
.floating-btn {
  position: fixed;
  top: 88px;
  right: 24px;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
}

.case-study-padding {
  padding: 100px 50px;
}

.schoolpay-title {
  font-family: 'Chango';
  font-size: 54px;
}

.schoolpay-subtitle {
  font-family: 'Chango';
  font-size: 44px;
  opacity: 0.4;
}

.gradient {
  background: linear-gradient($schoolpay-purple, $schoolpay-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

@media (max-width: 600px) {
  .case-study-padding {
    padding: 50px 24px;
  }
  .schoolpay-title {
    font-size: 32px;
  }
  .schoolpay-subtitle {
    font-size: 24px;
  }
}
@media (max-width: 300px) {
  .case-study-padding {
    padding: 50px 16px;
  }
  .schoolpay-subtitle {
    font-size: 24px;
  }
  .schoolpay-title {
    font-size: 24px;
  }
}
