@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@font-face {
  font-family: 'PPMori';
  src: url(../assets/fonts/PPMori-SemiBold.ttf) format('truetype');
  weight: bold;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: crisp-edges;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
}
