@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: crisp-edges;
}
p {
  margin: 0;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
}
